<div class="card" style="width: 21rem; margin-bottom: 35px">
  <img
    src="../../../assets/bgimg.jpg"
    class="card-img-top img-design"
    alt="..."
  />
  <img
    src="../../../assets/profile.png"
    class="card-img-top img-setup"
    alt="..."
  />
  <div class="card-body">
    <a
      routerLink="/userInfo/{{ user.id }}"
      class="info-button btn text-reset user-name"
    >
      {{ user.name }}
    </a>
    <p class="card-title user-email">{{ user.email }}</p>
    <p>
      <a href="https://www.linkedin.com/" target="_blank"
        ><i class="fa-brands social-icon fa-xl fa-linkedin-in"></i
      ></a>
      <span class="font-margin">
        <a href="https://www.instagram.com/" target="_blank"
          ><i class="fa-brands  fa-xl fa-instagram"></i
        ></a>
      </span>
    </p>
  </div>
</div>
